
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'ClementePDai';
    src: url('fonts/subset-ClementePDai-Regular.woff2') format('woff2'),
        url('fonts/subset-ClementePDai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ClementePDam';
    src: url('fonts/subset-ClementePDam-Bold.woff2') format('woff2'),
        url('fonts/subset-ClementePDam-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    background-color:#DFD0B8;
    font-family: "ClementePDai", Arial, sans-serif;
}

body > h1{
   color: #222831;
   font-weight:900;
   font-size:48px;
   text-align:center;
}

ul{
    list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

li {
  font-size: 36px;
}
